<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="FBGMarket" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Authentication;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\Authentication.mdf" providerName="System.Data.SqlClient" />
   
      <add name="FBGMarketDB"
           connectionString="Database=FBGMarket.V2;Server=SERVER\EXPRESS14;User ID=ln_users2;Password=%4nu$r!;Connection Timeout=30;pooling=false;"
           providerName="System.Data.SqlClient"
    />
    <add
  name="FBGMarket_CS"
  providerName="System.Data.SqlClient"
  connectionString="Data Source=SERVER\EXPRESS14;Initial Catalog=FBGMarket.V2;Integrated Security=True;" />
  </connectionStrings>
</configuration>